In [15]:
import pandas as pd

In [18]:
# Part 1: Data Exploration
# 1. Load the dataset
df = pd.read_csv('')

In [1]:
# 2. Examine the data
print("First 5 rows of the dataset:")


print("\nDataset information:")


print("\nSummary statistics:")

First 5 rows of the dataset:

Dataset information:

Summary statistics:

In [20]:
# 3. Report rows and columns
print("Total rows:")
# Your code here for total rows
print("Total columns:")
# Your code here for total columns

Total rows: 106
Total columns: 10

In [21]:
# 4. Identify data types
print("\nData types for each column:")

Data types for each column:
customer_id            object
name                   object
email                  object
age                   float64
location               object
join_date              object
last_purchase_date     object
order_total           float64
items_purchased       float64
preferred_category     object
dtype: object

In [22]:
# Part 2: Handling Missing Values
# 1. Check for missing values
print("\nMissing values count:")

# Create a copy of the dataframe for cleaning

Missing values count:
customer_id            0
name                   0
email                  0
age                   13
location               0
join_date              0
last_purchase_date     8
order_total            8
items_purchased        8
preferred_category     3
dtype: int64

In [23]:
# 2. Fill missing ages with the median age
# Your code here 
print(f"\nMedian age used for imputation: {median_age}")

Median age used for imputation: 41.0

In [25]:
# 4. Fill missing order_total with 0


# Fill missing items_purchased with 0 (consistent with order_total = 0)

In [26]:
# 5. Fill missing preferred_category with "Unknown"

In [27]:
# Check missing values again to verify
print("\nMissing values after imputation:")

Missing values after imputation:
customer_id           0
name                  0
email                 0
age                   0
location              0
join_date             0
last_purchase_date    0
order_total           0
items_purchased       0
preferred_category    0
dtype: int64

In [28]:
# Part 3: Removing Duplicates
# 1. Check for duplicate rows
# Your code here
print(f"\nNumber of duplicate rows: {duplicate_rows}")

Number of duplicate rows: 3

In [29]:
# 2. Check for duplicate customer IDs
# Your code here
print(f"Number of duplicate customer IDs: {duplicate_ids}")

Number of duplicate customer IDs: 6

In [30]:
# 3. Drop duplicates, keeping the first occurrence (most recent purchase)
df_clean = df_clean.drop_duplicates(subset='customer_id', keep='first')

In [31]:
# Verify duplicate removal

Rows after removing duplicates: 100
Duplicate customer IDs after cleaning: 0

In [32]:
# Display the first few rows of the cleaned dataset
print("\nFirst 5 rows of cleaned dataset:")

First 5 rows of cleaned dataset:
   customer_id             name                       email   age  \
10    CUST0001       John Smith        john.smith@gmail.com  32.0
1     CUST0002     Mary Johnson      mary.johnson@yahoo.com  41.0
2     CUST0003  Robert Williams      r.williams@hotmail.com  45.0
3     CUST0004   jennifer Brown  jennifer.brown@outlook.com  29.0
4     CUST0005   MICHAEL Garcia    michael.garcia@gmail.com  68.0

       location   join_date last_purchase_date  order_total  items_purchased  \
10     New York  2023-06-15         09/05/2024       110.25              4.0
1   Los Angeles  2023-08-22         09/15/2024        64.50              2.0
2       Chicago  2022-11-30         01/22/2025       125.75              5.0
3           NYC  2024-01-18         2024-01-18         0.00              0.0
4       Houston  2023-04-07         05/30/2024        42.99              2.0

   preferred_category
10        Electronics
1            Clothing
2               Books
3              Beauty
4      home & kitchen