In [15]:
import pandas as pd

In [18]:
# Part 1: Data Exploration
# 1. Load the dataset
df = pd.read_csv('Documents/customer_orders.csv')

In [19]:
# 2. Examine the data
print("First 5 rows of the dataset:")
print(df.head())

print("\nDataset information:")
print(df.info())

print("\nSummary statistics:")
print(df.describe())

First 5 rows of the dataset:
  customer_id             name                       email   age     location  \
0    CUST0001       John Smith        john.smith@gmail.com  32.0     New York
1    CUST0002     Mary Johnson      mary.johnson@yahoo.com   NaN  Los Angeles
2    CUST0003  Robert Williams      r.williams@hotmail.com  45.0      Chicago
3    CUST0004   jennifer Brown  jennifer.brown@outlook.com  29.0          NYC
4    CUST0005   MICHAEL Garcia    michael.garcia@gmail.com  68.0      Houston

    join_date last_purchase_date  order_total  items_purchased  \
0  2023-06-15         06/20/2024        85.99              3.0
1  2023-08-22         09/15/2024        64.50              2.0
2  2022-11-30         01/22/2025       125.75              5.0
3  2024-01-18                NaN          NaN              NaN
4  2023-04-07         05/30/2024        42.99              2.0

  preferred_category
0        Electronics
1           Clothing
2              Books
3             Beauty
4     home & kitchen

Dataset information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106 entries, 0 to 105
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         106 non-null    object
 1   name                106 non-null    object
 2   email               106 non-null    object
 3   age                 93 non-null     float64
 4   location            106 non-null    object
 5   join_date           106 non-null    object
 6   last_purchase_date  98 non-null     object
 7   order_total         98 non-null     float64
 8   items_purchased     98 non-null     float64
 9   preferred_category  103 non-null    object
dtypes: float64(3), object(7)
memory usage: 8.4+ KB
None

Summary statistics:
             age  order_total  items_purchased
count  93.000000    98.000000        98.000000
mean   42.150538   119.419490         4.142857
std     8.713990   172.125578         3.945505
min    27.000000     0.990000         1.000000
25%    35.000000    64.500000         3.000000
50%    41.000000    77.000000         3.000000
75%    49.000000    93.062500         4.000000
max    68.000000   999.990000        25.000000

In [20]:
# 3. Report rows and columns
print(f"\nTotal rows: {df.shape[0]}")
print(f"Total columns: {df.shape[1]}")

Total rows: 106
Total columns: 10

In [21]:
# 4. Identify data types
print("\nData types for each column:")
print(df.dtypes)

Data types for each column:
customer_id            object
name                   object
email                  object
age                   float64
location               object
join_date              object
last_purchase_date     object
order_total           float64
items_purchased       float64
preferred_category     object
dtype: object

In [22]:
# Part 2: Handling Missing Values
# 1. Check for missing values
print("\nMissing values count:")
print(df.isnull().sum())
# Create a copy of the dataframe for cleaning
df_clean = df.copy()

Missing values count:
customer_id            0
name                   0
email                  0
age                   13
location               0
join_date              0
last_purchase_date     8
order_total            8
items_purchased        8
preferred_category     3
dtype: int64

In [23]:
# 2. Fill missing ages with the median age
median_age = df_clean['age'].median()
df_clean['age'] = df_clean['age'].fillna(median_age)
print(f"\nMedian age used for imputation: {median_age}")

Median age used for imputation: 41.0

In [24]:
# 3. Fill missing last_purchase_date with join_date
# For rows with missing last_purchase_date, use join_date (without date conversion)
mask = df_clean['last_purchase_date'].isna()
df_clean.loc[mask, 'last_purchase_date'] = df_clean.loc[mask, 'join_date']

In [25]:
# 4. Fill missing order_total with 0
df_clean['order_total'] = df_clean['order_total'].fillna(0)

# Fill missing items_purchased with 0 (consistent with order_total = 0)
df_clean['items_purchased'] = df_clean['items_purchased'].fillna(0)

In [26]:
# 5. Fill missing preferred_category with "Unknown"
df_clean['preferred_category'] = df_clean['preferred_category'].fillna("Unknown")

In [27]:
# Check missing values again to verify
print("\nMissing values after imputation:")
print(df_clean.isnull().sum())

Missing values after imputation:
customer_id           0
name                  0
email                 0
age                   0
location              0
join_date             0
last_purchase_date    0
order_total           0
items_purchased       0
preferred_category    0
dtype: int64

In [28]:
# Part 3: Removing Duplicates
# 1. Check for duplicate rows
duplicate_rows = df_clean.duplicated().sum()
print(f"\nNumber of duplicate rows: {duplicate_rows}")

Number of duplicate rows: 3

In [29]:
# 2. Check for duplicate customer IDs
duplicate_ids = df_clean['customer_id'].duplicated().sum()
print(f"Number of duplicate customer IDs: {duplicate_ids}")

Number of duplicate customer IDs: 6

In [30]:
# 3. Keep only the row with the most recent purchase date for each customer ID
# The naive approach to sorting dates as strings works in this case since they are all in the same format
# Note: This would not work correctly if dates had different formats
df_clean = df_clean.sort_values(['customer_id', 'last_purchase_date'], ascending=[True, False])

# Drop duplicates, keeping the first occurrence (most recent purchase)
df_clean = df_clean.drop_duplicates(subset='customer_id', keep='first')

In [31]:
# Verify duplicate removal
print(f"\nRows after removing duplicates: {len(df_clean)}")
print(f"Duplicate customer IDs after cleaning: {df_clean['customer_id'].duplicated().sum()}")

Rows after removing duplicates: 100
Duplicate customer IDs after cleaning: 0

In [32]:
# Display the first few rows of the cleaned dataset
print("\nFirst 5 rows of cleaned dataset:")
print(df_clean.head())

First 5 rows of cleaned dataset:
   customer_id             name                       email   age  \
10    CUST0001       John Smith        john.smith@gmail.com  32.0
1     CUST0002     Mary Johnson      mary.johnson@yahoo.com  41.0
2     CUST0003  Robert Williams      r.williams@hotmail.com  45.0
3     CUST0004   jennifer Brown  jennifer.brown@outlook.com  29.0
4     CUST0005   MICHAEL Garcia    michael.garcia@gmail.com  68.0

       location   join_date last_purchase_date  order_total  items_purchased  \
10     New York  2023-06-15         09/05/2024       110.25              4.0
1   Los Angeles  2023-08-22         09/15/2024        64.50              2.0
2       Chicago  2022-11-30         01/22/2025       125.75              5.0
3           NYC  2024-01-18         2024-01-18         0.00              0.0
4       Houston  2023-04-07         05/30/2024        42.99              2.0

   preferred_category
10        Electronics
1            Clothing
2               Books
3              Beauty
4      home & kitchen